<title>Front page</title>
<h1>Front page</h1>
<p>Welcome to notebook/diary app.</p>
<p>This app is designed to store all your very important, valuable and secret information.</p>
<p>This app is bulletproof in terms of cybersecurity and is impossible to hack!</p>
<p>Please create an account or use existing account to log in to the app!</p>

<form action="/login" method="POST">
    <p>Username:<br>
    <input type="text" name="username">
    </p>
    <p>Password:<br>
    <input type="password" name="password">
    </p>
    <input type="submit" value="Login">
</form>

<a href="/create">Create user</a>
<br>
<a href="/admin_panel_login">Admin panel</a>